body {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 90vh;
    padding-bottom: 120px;
    font-weight: 400;
}


.Seccion {
    font-family: 'Poppins';
    width: 100%;
    display: grid;
    place-items: center;
}


.row {
    width: 80%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
    overflow: hidden;
    padding: 4rem 0;
}


.row .imgWrapper {
    overflow: hidden;
    border-radius: 15px;
}


.row .imgWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}


.row .imgWrapper:hover img {
    transform: scale(1.25);
}


.row .contentWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}


.row .contentWrapper span.textWrapper {
    display: block;
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}


.row .contentWrapper span.textWrapper span {
    display: inline-block;
    background: #383f47;
    width: 70px;
    height: 5px;
}


.row .contentWrapper h2 {
    font-size: 40px;
    font-weight: 700;
    color: #383f47;
    padding-bottom: 20px;
}


.row .contentWrapper p {
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 25px;
}


@media(max-width:991px) {
    .row {
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }


    .row .contentWrapper {
        padding-left: 0;
    }


}


@media(max-width: 575px) {
    .row .contentWrapper span.textWrapper {
        font-size: 18px;
    }


    .row .contentWrapper h2 {
        font-size: 25px;
    }


    .row .contentWrapper p {
        font-size: 15px;
        line-height: 22px;
    }
}


.galeria h1 {
    text-align: center;
    margin: 20px 0 15px 0;
    font-weight: 400;
}


.linea {
    border-top: 5px solid #0077C0;
    margin-bottom: 40px;
}


.contenedor-imagenes {
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
    margin-bottom: 30px;
}


.contenedor-imagenes .imagen {
    width: 32%;
    position: relative;
    height: 250px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75);
}


.imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(10, 131, 206, 0.781);
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
}


.overlay h2 {
    color: #fff;
    font-weight: 400;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}


.imagen:hover .overlay {
    height: 100%;
    cursor: pointer;
}


@media screen and (max-width: 1000px) {
    .contenedor-imagenes {
        width: 95%;
    }


    .about-container {
        grid-template-columns: 1fr;
    }
}


@media screen and (max-width: 700px) {
    .contenedor-imagenes {
        width: 90%;
    }


    .contenedor-imagenes .imagen {
        width: 48%;
    }
}


@media screen and (max-width: 450px) {
    h1 {
        font-size: 22px;
    }


    .contenedor-imagenes {
        width: 98%;
    }


    .contenedor-imagenes .imagen {
        width: 80%;
    }
}


main {
    display: block;
}


hr {
    background-color: black;
    width: 100%;
    padding: 2px;
}


h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


@media all and (max-width: 767px) {


    .aboutpicture img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }


    .aboutparagraph {
        text-align: left;
    }


    #main-container {
        margin: 60px auto;
        padding: 10px;
    }
}


@media only screen and (max-width: 650px) {
    .aboutpicture {
        width: 400px;
        margin-top: 40px;
    }
}
